.ant-page-header {
  background-color: white;
  border-bottom: 1px solid grey;
  z-index: 10;
  user-select: none;
}

.name-label {
  float: left;
  user-select: none;
}

.timer {
  float: left;
  font-size: 16px;
  font-weight: 600;
}
