h1 {
  font-family: "Caveat", cursive;
  font-size: 100px;
  padding-top: 10px;
}

h2 {
  font-family: "Kalam", cursive;
  font-size: 30px;
  color: #2a8b0f;
  margin-top: -30px;
}

.main-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
