.hide-canvas {
  visibility: hidden;
}

.canvas-container {
  .drag-canvas {
    cursor: grabbing;
  }

  .zoom-canvas {
    image-rendering: pixelated;

    canvas {
      z-index: -1;
    }
  }

  .zoom-controls {
    position: fixed;
    bottom: 70px;
    right: 10px;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    font-size: 20px;

    .zoom-icon {
      padding-left: 1px;
      padding-right: 1px;
    }
  }

  .color-picker {
    position: absolute;
    z-index: 10;
  }
}

.spinner-style {
  left: 50%;
  position: absolute;
  top: 50%;

  .ant-spin-dot-item {
    background-color: black;
  }
}
