.canvas-container {

  .zoom-canvas {
    image-rendering: pixelated;

  canvas {
      z-index: -1;
    }

  }

  .zoom-controls {
    position: fixed;
    bottom: 70px;
    right: 10px;
    background-color: white;
    padding-left: 5px; 
    padding-right: 5px;
    border-radius: 10px;
    font-size: 20px; 

    .zoom-icon {
      padding-left: 1px;
      padding-right: 1px; 
      // font-size: 40px; 
    }
  }

  .color-picker {
    position: fixed; 
    z-index: 10; 
    bottom: 100px;
    right: 100px; 
  }
}
